<div class="top-bar">
    <h1>Budget Calculator</h1>
</div>

<div class="total-budget-section">
    <!--TODO Create conditional color checking for h2 element-->
    <h2 class="red">100</h2>
</div>

<!-- Add item section-->
<!-- A list of all of our expenses and income-->
<section class="add-item-section">
    <div class="add-item-container">
        <!--TODO Add Angular For for adding info-->
        <app-add-item-form style="padding:200px"></app-add-item-form>
    </div>
</section>

<hr style="margin-top: 0px;">
<app-budget-item-list></app-budget-item-list>